{% extends 'base.html' %}

{% block main %}
    <!-- Main container -->
    <main .ml-1>
        <br><br> &ensp;

        <!-- Breadcrumb (path) -->
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
                </ol>
            </nav>
        </div>



        <br>

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">{{project.name}}</h1>
            <p class="lead">Here is the list the tasks involved in {{project.name}}</p>
              <a class="btn btn-primary" href="/newtask/" role="button">New Task</a>
              &ensp; &ensp;
              <a class="btn btn-warning" href="/activity/{{project.id}}" role="button">Activity</a>
          </div>
        </div>

        <p class="col-8">
            <b><u>Overall progress :</u></b> &ensp;
            <div class="col-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">{{progress}}%</div>
                </div>
            </div>
        </p>

        <br>
            <!--   Checkbox for search     -->
        <button class="btn btn-xs " style="background-color: lightgreen; type="button" data-toggle="collapse" data-target="#Filtering" aria-expanded="false" aria-controls="collapseExample">
            Advanced Search
        </button>
        <div class="collapse" id="Filtering">
            <div class="card card-body">

                <form action="/project/{{id_project}}" class="inline">
                    <div class="row">
                    <!--  Member Filter-->
                        <div class="col-2" style="margin-left: 10px" >
                            <label class="form-check-label" for="member_check">Members</label>
                            {% for m in members %}
                            <div class="form-check" id="member_check">
                                <input type="checkbox" class="form-check-input" id="check1" name="member" {%if m in query_list%}checked{%endif%} value="{{m}}">{{m.username}}
                            </div>
                            {%endfor%}
                        </div>
                    <!-- Start Date Filter-->
                        <div class="col-2">
                            <div class="form-group"> <!-- Date input -->
                                <label class="control-label" for="date1">Start Date after:</label>
                                <input class="form-control" id="date1" name="date1" autocomplete="off" placeholder="{{date1}}"  type="text"/>
                            </div>
                            <div class="form-group"> <!-- Date input -->
                                <label class="control-label" for="date2">Start Date before:</label>
                                <input class="form-control" id="date2" name="date2" autocomplete="off"  placeholder="{{date2}}"  type="text"/>
                            </div>
                        </div>
                    <!-- Due Date Filter-->
                        <div class="col-2">
                            <div class="form-group"> <!-- Date input -->
                                <label class="control-label" for="date3">Due Date after:</label>
                                <input class="form-control" id="date3" name="date3" autocomplete="off"  placeholder="{{date3}}" type="text"/>
                            </div>
                            <div class="form-group"> <!-- Date input -->
                                <label class="control-label" for="date4">Due Date before:</label>
                                <input class="form-control" id="date4" name="date4" autocomplete="off"  placeholder="{{date4}}" type="text"/>
                            </div>
                        </div>

                    <!--  Member Filter-->
                        <div class="col-2">
                            <label class="form-check-label" for="status_check">Status Type</label>
                            {% for s in Status_all %}
                            <div class="form-check" id="status_check">
                                <input type="checkbox" class="form-check-input" name="status" {%if s in status_q_list%}checked{%endif%} value="{{s}}">{{s.name}}
                            </div>
                            {%endfor%}
                        </div>

                        <!--  Progress % Filter-->
                        <div class="col-2">
                            <p> Progress %</p>
                            <br><br>
                             <div class="sliderCont">
                                <div id="range"></div>
                            </div>
                            <div class="formCost form-inline">
                                <input class="form-control" type="hidden" id="minProgress" name="minProgress" value="0"/>
                                <input class="form-control" type="hidden" id="maxProgress" name="maxProgress" value="100"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
        <br><br><br>

        <div class="col-12">

            <!-- Table of tasks -->
            <table class="table">

                <!-- heads -->
                <thead>
                    <tr>
                        <th scope="col" >Task</th>
                        <th scope="col" class="text-center">Assignee
                            <a href="/project/{{id_project}}?sort=assignee+up">
                        <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
                        </svg> </a>
                            <a href="/project/{{id_project}}?sort=assignee+down">
                            <svg class="bi bi-caret-down-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
</svg>
                            </a>
                        </th>
                        <th scope="col" class="text-center">Start date</th>
                        <th scope="col" class="text-center">Due date</th>
                        <th scope="col" class="text-center">Progress</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <!-- body of the table -->
                <tbody>
                    {% for task in list_tasks %}
                        {% if task.assignee == user %}
                            <tr>
                                <th scope="row" ><a href="/task/{{task.id}}">{{task.name}}</a></th>
                                <td scope="row" class="text-center"><span class="badge badge-danger">{{task.assignee}}</span></td>
                                <td scope="row" class="text-center">{{task.start_date}}</td>
                                <td scope="row" class="text-center">{{task.due_date}}</td>
                                <td scope="row" class="text-center">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.progress}}%">{{task.progress}}%</div>
                                    </div>
                                </td>
                                <td scope="row" class="text-center">
                                    <a href="/updatetask/{{task.id}}">
                                        <img src="https://cdn.onlinewebfonts.com/svg/img_148628.png" width="20" height="20">
                                    </a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <th scope="row"><a href="/task/{{task.id}}">{{task.name}}</a></th>
                                <td scope="row" class="text-center"><span class="badge badge-primary">{{task.assignee}}</span></td>
                                <td scope="row" class="text-center">{{task.start_date}}</td>
                                <td scope="row" class="text-center">{{task.due_date}}</td>
                                <td scope="row" class="text-center">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.progress}}%">{{task.progress}}%</div>
                                    </div>
                                </td>
                                <td scope="row" class="text-center">
                                    <a href="/updatetask/{{task.id}}">
                                        <img src="https://cdn.onlinewebfonts.com/svg/img_148628.png" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>

            </table>
            <!-- end of table -->
        </div>

    </main>
{% endblock %}